
@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">

            @Html.Partial("_PartialCategories")

        </div>

        <div class="col-md-9">

            <div class="row">

                <h1>Hakkımızda...</h1>

            </div>

        </div>

    </div>
</div>




